.container {
    display: flex;
    justify-content: space-evenly;
}

.container img {
    border-radius: 50%;
    width: 300px;
    margin-left: 5rem;
    margin-top: 2rem;
}

.about{
    margin-left: 9rem;
    margin-top: 3rem;
}