/* .body {
  display: flex;
} */

.image {
  display: flex;
  justify-content: center;
  height: 200px;
}
nav {
  display: flex;
  /* justify-content: space-around; */
  justify-content:stretch;
  margin-left: 20%;
}
nav a {
  /* display: flex;
  align-items: center; */
  text-decoration: none;
  list-style: none;
  font-size: 1.7rem;
  padding: 3px 40px;
  border-right: 3px solid black;
  color: black;
 
}

nav a:hover {
  color: coral;
}

.links {
  margin-right: 10px;
}

a:nth-child(5){
  border-right: 3px solid rgb(235, 223, 198);
}
/* @media (min-width: 400px) {
  nav {
    padding: 0 100px;
  }
} */